<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
>
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<div>
    <div sec:authorize="isAuthenticated()">
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Logout" />
        </form>
    </div>

</div>
<form name="f" th:action="@{/post/add}" method="post" th:object="${post}">
    <fieldset>
        <legend>Post</legend>
        <label for="status">Status</label>
        <textarea id="status" name="status"></textarea>
        <label for="location">Location</label>
        <select id="location" name="location">
            <option value="">Select</option>
            <option th:each="location: ${locations}" th:value="${location.id}" th:text="${location.name}"></option>
        </select>
        <p>Please select your privacy...</p>
        <label for="private">Private
            <input type="radio" name="privacy" id="private" value="PRIVATE">
        </label>

        <label for="public">Public
            <input type="radio" name="privacy" id="public" value="PUBLIC">
        </label>
        <div class="form-actions">
            <button type="submit" class="btn">Add</button>
        </div>
    </fieldset>
</form>
</body>
</html>